@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

:root {
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #0c2f3c;
  --active-color: #147ba2;
  --bright-blue: #108cbf;

  --mont: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-family: var(--mont);
  background-color: var(--secondary-bg-color);
}

.items h2 {
  background-color: var(--bright-blue);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
  font-size: 18px;
  position: relative;
}

.items h2 i {
  margin-right: 0.5rem;
  font-weight: 400;
}

.items h2:after {
  background-color: var(--bright-blue);
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  content: "";
  left: 1.5rem;
  bottom: -10px;
}

.items__list {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
}

.items__list--item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-bottom: 1rem;
}
.items__list--item h3 {
  margin: 0;
  width: 100%;
}
.items__list--item img {
  margin-right: 1rem;
  width: calc(25% - 1rem);
}
.items__list--item ul {
  margin: 0;
  padding: 0;
  width: 75%;
}

/* Navbar */
.navbar {
  background-color: var(--secondary-bg-color);
  font-family: var(--mont);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar__logo {
  width: 200px;
}

.navbar ol,
.navbar li,
.navbar__link {
  display: flex;
  width: 100%;
}

.navbar ol {
  padding: 0;
}

.navbar__link {
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.navbar__link i {
  margin-right: 0.5rem;
}

.navbar__link.active {
  background-color: var(--active-color);
}

main {
  margin-left: 200px;
  padding: 2rem;
}

main h2 {
  font-family: var(--mont);
  font-weight: 700;
  font-size: 1.5rem;
}
